<!-- FOOTER -->
            <footer id="footer">
               
                <div class="clear"></div>
                <!-- COPYRIGHT -->
                <div class="credits">Website built by <a href="http://www.richlewis.co.uk" target="_blank">Richard Lewis</a></div>
                <!-- SOCIAL ICONS -->
                <ul class="social-icons">
                    <li>
                        <%= link_to image_tag('social-icons/facebook.png', class: 'social-icon'), 'http://www.facebook.com/VarsityVandals', target: '_blank' %>
                    </li>
                    <li>
                        <%= link_to image_tag('social-icons/twitter.png', class: 'social-icon'), 'http://twitter.com/VarsityVandals', target: '_blank' %>
                    </li>
                </ul>
            </footer>
