 <div class="resp-tabs-container">
   <% @tournaments.each do |t| %>
     <div>
       <div class="clear"></div>
         <ul class="team-gallery">
          <% t.gallery_images.each do |g| %>
            <li>
              <%= link_to image_tag(g.photo.url(:gallery_large)), g.photo.url(:original), class: 'clb-photo', rel: 'photos' + " " + t.name %> 
            </li>
          <% end %>
        </ul>
        </div>
  <% end %>
</div><!--resp-tabs-container--> 
