  <!-- HEADER -->
        <header id="header">
            <div class="logo">
              <%= link_to 'Home', root_path, id: 'logo' %>
            </div>
        </header>
        <div class="clear"></div>
        <!-- MAIN MENU -->
        <section id="mainmenu-container">
            <a class="toggleMenu" href="#">Menu</a>
            <nav>
                <ul id="mainmenu">
                    <li>
                        <%= link_to root_path do %>
                            <span>Homepage</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to our_club_path do %>
                            <span>Our Club</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to galleries_path do %>
                            <span>Gallery</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to running_club_path do %>
                            <span>Running Club</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to netball_club_path do %>
                            <span>Netball Club</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to calendar_path do %>
                            <span>Calendar</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to contact_path do %>
                            <span>Contact</span>
                        <% end %>
                    </li>
                </ul>
            </nav>
        </section>