<% @posts.each do |p| %>
  <!-- POST -->
  <article class="post">
    <%= image_tag('vandals_fb_profile.png') %>
    <%= link_to 'Varsity Vandals', "https://www.facebook.com/VarsityVandals", target: 'blank' %>
    <%= date_output(p.created_time) %>

      <figure>
        <% if p.video_url? %>
          <%= raw youtube_embed(p.video_url) %>
        <% end %>
      </figure>
      <% if p.message %>
      <p><%= p.message.gsub("\n", "<br>").html_safe %></p>
      <% end %>
        <% if p.description? %>
          <p><%= p.description %></p>
        <% end %>
        <% if p.link? %>
          <%= link_to 'Read More', p.link, target: '_blank' %>
        <% end %>
    </article>
    <hr/>
<% end %>
<%= will_paginate @posts, previous_label: '',  next_label: '', page_links: false %>