<!-- SPONSORS TITLE -->
            <div class="logos-title">Sponsors</div>
            <!-- SPONSORS SLIDER -->
            <section class="sponsor-bg">
            <h2> Would you like to Sponsor Varsity Vandals? If so then please <a href="/contact">Contact Us</a></h2>


            </section>
            <!--<section class="transparent-bg">
                <div id="logos">
                    <div class="slide">
                        <a href="#">
                            <img src="/assets/photos/logo.png" alt="" />
                        </a>
                    </div>
                    <div class="slide">
                        <a href="#">
                            <img src="/assets/photos/logo.png" alt="" />
                        </a>
                    </div>
                    <div class="slide">
                        <a href="#">
                            <img src="/assets/photos/logo.png" alt="" />
                        </a>
                    </div>
                    <div class="slide">
                        <a href="#">
                            <img src="/assets/photos/logo.png" alt="" />
                        </a>
                    </div>
                    <div class="slide">
                        <a href="#">
                            <img src="/assets/photos/logo.png" alt="" />
                        </a>
                    </div>
                </div>
            </section>-->

            