 <!-- MAIN CONTAINER -->
        <section class="maincontainer">
            <!-- PAGE TITLE -->
            <div class="page-title">Contact Us</div>
            <!-- PAGE CONTAINER -->
            <section class="pagecontainer using-grid">
                <!-- GRID -->
                <div class="grid">
                    <!-- LEFT SIDE -->
                    <div class="unit two-thirds">
                        <h2>Where We Train</h2>
                        <p>If you are interested and want to get involved in Touch Rugby then get in touch with us via the contact form, or find us on <a href="http://www.facebook.com/VarsityVandals" target="_blank">facebook</a> to see when our next training session is.</p>

                        <p>We hope you can join us and look forward to seeing you there.</p>
                        <!-- GOOGLE MAP -->
                       <div id="google-map"></div>
                    </div>
                    <!-- RIGHT SIDE -->
                    <div class="unit one-third">
                        <h3>Contact Details</h3>
                        <ul class="list">
                            <li>
                                <strong>Address:</strong> Pontcanna Fields, CF11 9PP, Cardiff
                            </li>      
                        </ul>
                        <hr/>
                        <h3>Contact Form</h3>
                        <!-- CONTACT FORM -->
                        <%= form_for @message, :url => contact_path, :method => :post, :html => {:id => 'contactForm' } do |f| %>
                  
                        <%= f.text_field :name, :id => 'senderName', :placeholder => 'Name', required: 'required' %>
                        
                        <%= f.text_field :number, :id => 'senderTel', :placeholder => 'Telephone Number', required: 'required' %>
                        
                        <%= f.text_field :email, :id => 'senderEmail', :placeholder => 'Email Address', required: 'required' %>

                        <%= f.text_field :subject, :id => 'senderSubject', :placeholder => 'Subject', required: 'required' %>
                    
                        <%= f.text_area :message, :id => 'message', :rows => 6, :placeholder => 'Message', required: 'required' %>
                   
                        <div class="hidden">
                          <%= f.text_field :ghost, :id => 'inputGhost' %>
                        </div>

                        <%= button_tag 'Send Message', type: 'submit', class: 'button' %>
            
                        <% end %> 
                    </div>
                </div>
            </section>
            <div class="clear"></div>

<script type="text/javascript">
  window.onload = function () {
                  initialize();
                   }
</script>


<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApUO4ajt4kh5KnLE-zJbdmDKrVf7zqsvA">
</script>

<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(51.491629,-3.207225),
      zoom: 15,
      scrollwheel: false,
      draggable: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("google-map"),mapOptions);

    var marker = new google.maps.Marker({
      position: map.getCenter(),
      map: map,
      title: 'Vandals Training'
    });

    var center;
    function calculateCenter() {
      center = map.getCenter();
    }
    google.maps.event.addDomListener(map, 'idle', function() {
      calculateCenter();
    });
    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(center);
    });
  }
</script>