/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
    position:absolute; 
    top:0; 
    left:0; 
    z-index:999999999; 
    overflow:hidden;
}

#cboxOverlay {
    position:fixed; 
    width:100%; 
    height:100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear:left;
}

#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/

#colorbox{outline:0;}
    #cboxContent{margin-top:32px; overflow:visible;}
        #cboxError{padding:50px;}
        #cboxLoadedContent{padding:15px; padding-bottom:35px;}
        #cboxLoadingGraphic{background:asset-url('bx_loader.gif') no-repeat center center;}
        #cboxTitle{position:absolute; bottom:9px; right:15px;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
            border:0; 
            padding:0; 
            margin:0; 
            overflow:visible; 
            text-indent:-9999px; 
            width:20px; 
            height:28px; 
            position:absolute; 
            bottom:0px; 
            background:asset-url('controls.png') no-repeat 0 0; 
            outline:none;
        }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{background-position:0px 0px; left:34px;}
        #cboxPrevious:hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; left:56px;}
        #cboxNext:hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; left:12px;}
        #cboxClose:hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{left:78px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; left:56px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; left:56px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}
