/* ---------------------- 
Stylesheet Guide
-------------------------

GENERAL STYLES
FLEXSLIDER
BXSLIDER
SUB MENU
HEADER
MAIN MENU
HOMEPAGE FIXTURE BOX
SPONSORS
PAGE STRUCTURE
BLOG
COMMENTS
FORMS
TABLES
GALLERY
OUR TEAM
FLEX IMAGE
INFO BOXES
FOOTER
FLICKR
SOCIAL ICONS
BACK TO TOP BUTTON
COLORBOX
POPUP BOXES
TABS
MEDIA


*/

/* ================= GENERAL STYLES ================== */

::-moz-selection {
	color:$white;
	text-shadow:none;
	background:$vandals_blue;
}
::selection {
	color:$white;
	text-shadow:none;
	background:$vandals_pink;
}
::-webkit-scrollbar {
	width:8px;
    background:$vandals_blue;
}
::-webkit-scrollbar-thumb {
	background:$vandals_pink;
}
::-webkit-scrollbar-thumb:window-inactive {
	background:$vandals_pink;
}
body{
    color:$text_grey;
}
h1, h2, h3, h4, h5, h6 {
    color:$black;
}
p {
    color:$text_grey;
}
a {
	color: $vandals_blue;
}

a:hover, .credits a:hover {
    color:$vandals_pink;
    text-decoration: none;
}

.credits a {
    color:$white;
    font-weight:bold;
}
hr {
    background-color:$border_grey;
    background: -webkit-linear-gradient(left, $black, $black, 30%, #e1e1e1 30%, #e1e1e1);
}
blockquote {
    border-left:3px solid $vandals_pink;;
    color:$white;
    background-color:$vandals_blue;
}
/* ================= FLEXSLIDER ================== */
.flex-direction-nav .flex-next {
    background-color:$vandals_blue;
}
.flex-direction-nav .flex-prev {
    background-color:$vandals_blue;
}
.flex-direction-nav li a:hover {
    background-color: $vandals_pink;
}
.flex-title {
	background-color:rgba(0,0,0,0.8);
    color:$white;
}
.flex-title h1,.flex-title h2,.flex-title h3,.flex-title h4,.flex-title h4,.flex-title h6{
    color:$white;
}
.flex-title p{
    color:#c7c7c7;
}
/* ================= BXSLIDER ================== */
.bx-wrapper .bx-pager {
	color: $text_grey;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: $text_grey;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: $black;
}
.bx-wrapper .bx-caption {
	background-color:rgba(0,0,0,0.8);
}
/* ================= SUB MENU  ================== */
#mobile-menu {
    background: $white;
    color: #616161 !important;
    border-bottom:3px solid $black;
}
#submenu {
    background:$white;
    border-bottom:3px solid $black;
}
#submenu a{
    color:$black;
}
#submenu a:hover{
    color: #cc0000;
}
#submenu-login {
    background:$white;
    border-bottom:3px solid $black;
}
#submenu-login a{
    color:$black;
}
#submenu-login a:hover{
    color: #cc0000;
}
/* ================= HEADER  ================== */
#header {
    background-color:rgba(255,255,255,0.7);
}
#header .logo span{
    color:$white;
    background-color: $vandals_pink;
}
#header .logo span:after {
	border-top-color: $vandals_pink;
    border-right-color: $vandals_pink;
}
/* ================= MAIN MENU  ================== */
#mainmenu-container {
    background:$black;
}
.toggleMenu {
    background: $vandals_blue;
    color: #fff !important;
    border-bottom:3px solid $vandals_pink;
}
#mainmenu {
    background:$vandals_blue;
    border-bottom:3px solid $vandals_pink;
}
#mainmenu a {
    color:$white;
    background-color: $vandals_blue;
}

#mainmenu a::before{
    background:$vandals_pink;
}
#mainmenu ul li a {
    background-color: $vandals_blue;
}
#mainmenu ul li a::before{
    background:$vandals_pink;
}
#mainmenu li li a {
    background:$vandals_blue;
}
#mainmenu li li li a {
    background:$vandals_blue;
}
/* ================= HOMEPAGE FIXTURE BOX ================== */
.scores-title {
    background-color: $vandals_blue;
    color:$white;
    border-top: 3px solid $white;
}
.scores-title:after {
	border-bottom-color: $black;
}
.scores-title:before {
	border-bottom-color: $white;
}
.match-results span{
    background-color: $vandals_blue;
    color:$white;
}
.match-results .score{
    background-color: $vandals_pink;
}
.match-place span{
    background-color: $vandals_blue;
    color:$white;
}
.match-place .red{
    background-color: #cc0000;
}
.match-place span a{
    color:$white;
}
.match-place span a:hover{
    color:$white;
}
/* ================= SPONSORS ================== */
.logos-title {
    background-color: $vandals_blue;
    color:$white;
}
/* ================= PAGE STRUCTURE ================== */
.pagecontainer {
    background-color: $white;
    border-top:3px solid $black;
}
.pagecontainer:after {
	border-bottom-color: $white;
}
.pagecontainer:before {
	border-bottom-color: $black;
}
.transparent-bg {
    background-color:rgba(255,255,255,0.7);
}
.page-title {
    background-color: $vandals_blue;
    color:$white;
}
/* ================= BLOG ================== */
.post figcaption {
	background-color: #cc0000;
	color: $white;
}
.post figcaption h2 {
	color: $white;
}
.post-date {
    background-color:$black;
}
.sidebarlist li {
    border-bottom:1px solid $border_grey;
}
.sidebarlist li a {
    color:$text_grey;
}
.sidebarlist li a:hover {
    color:#cc0000;
}
/* ================= COMMENTS ================== */
.comments_content{
    border-top:1px solid $border_grey;
}
.comments a.reply{
    color:$text_grey;
    background-color:$border_grey;
}
.comments_content{
    border-top:1px solid $border_grey;
}
.comments a.reply{
    color:$text_grey;
    background-color:$border_grey;
}
.comments a.reply:hover {
    background-color:$black;
    color:$white;
}
/* ================= FORMS ================== */
input, textarea
{
    border: 1px solid $border_grey;
    color:$black;
    background-color: $white;
}
input:focus, textarea:focus {
	border-color:$black;
}
.button {
	color: #fff !important;
	background-color:$vandals_blue;
}
.button:hover {
	background-color:$vandals_pink;
}
/* ================= TABLES ================== */
.fixture_date {
    border-left:1px solid $border_grey;
    border-right:1px solid $border_grey;
    border-bottom:1px solid $border_grey;
}

.sidebarbox-title h3 {
    color:$white;
    background-color: $vandals_blue;
}
.fixture-row {
    border-right: 0px solid $border_grey;
    border-left: 0px solid $border_grey;
}
.fixture-row a{
    color:$text_grey;
}
.fixture-row a:hover div {
    background-color:$border_grey;
    border-color:$border_grey;
}
.fixture-row-left,.fixture-row-right, .tournament-header, .gallery-header {
    border-bottom: 1px solid $border_grey;
}

.fixture-row-left, .tournament-header, .gallery-header {
    border-right: 1px solid $border_grey;
    border-left: 1px solid $border_grey;
}

.fixture-row-right {
    border-right: 1px solid $border_grey;
}

/* ================= GALLERY ================== */
.filters li a {
    color:$white;
}
.filters li a:hover {
    background-color:$text_grey;
}
.filters li a.active {
    background-color:#cc0000;
}
.filters {
    background-color:$black;
}
.team-gallery li a {
    background-color: $vandals_pink;
}
/* ================= OUR TEAM ================== */
.teamlist ul li {
    border-bottom:1px solid $border_grey;
}
.teamlist ul li:first-child {
    border-top:1px solid $border_grey;
}
.teamlist ul li a {
    color: $text_grey;
}
.teamlist ul li a:hover {
    color:#cc0000;
}
.teamlist-popup {
    background: $white;
}
/* ================= FLEX IMAGE ================== */
.caption-image img{
    border:3px solid $black;
}
.caption-image figcaption{
    background-color:$black;
    color:$white;
}


/* ================= FOOTER ================== */
#footer {
    background-color:$vandals_blue;
    border-top:3px solid $vandals_pink;
    color:$white;
}
#footer h5 {
    color:$white;
}
#footer-widgets {
    border-bottom:1px solid rgba(255,255,255,0.1);
}
#footer-widgets p{
    color:$border_grey;
}
.footer-widget ul li {
    border-bottom:1px solid rgba(255,255,255,0.1);
}
.footer-widget ul li a {
    color:$border_grey;
}
.footer-widget ul li a:hover {
    color:$white;
}
.credits {
    color:$border_grey;
}


/* ================= SOCIAL ICONS ================== */
.social-icon {
    background-color:$vandals_blue;
}
.social-icon:hover {
    background-color:$vandals_pink;
}


/* ================= COLORBOX ================== */
#cboxOverlay{
    background:#262626;
}
#cboxContent{
    background:$text_grey;
}
.cboxIframe{
    background:$black;
}
#cboxError{
    border:1px solid #c7c7c7;
}
#cboxLoadedContent{
    background:$white; 
    background: -moz-linear-gradient(left, #fff, #fff 50%, #000 50%, #000); 
    background: -webkit-linear-gradient(left, #fff, #fff 50%, #000 50%, #000);
}
#cboxLoadingOverlay{
    background:$white;
}
#cboxTitle{
    color:$white;
}
/* ================= POPUP BOXES ================== */
.mfp-bg {
    background: $black;
}
.mfp-preloader {
    color: #c7c7c7;
}
.mfp-preloader a {
    color: #c7c7c7;
}
.mfp-preloader a:hover {
    color: $white;
}
.mfp-close {
    color: $white;
}
.mfp-close-btn-in .mfp-close {
    color: $black;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: $white;
}
.mfp-counter {
    color: #c7c7c7;
}
.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid $white;
}
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    border-right: 27px solid #3f3f3f;
}
.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid $white;
}
.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f;
}
.mfp-title {
    color: $border_grey;
}
/* ================= TABS ================== */
ul.resp-tabs-list {
    border-bottom: 3px solid #cc0000;
    background-color: $border_grey;
}
.resp-tabs-list li {
    background-color: $vandals_blue;
    color:$white;
}
.resp-tabs-list li.tourn-name:hover {
    background-color: $vandals_pink;
    color:$white;
}
.resp-tabs-list li.resp-tab-active {
    background-color: $vandals_pink;
    color:$white;
}
.resp-tabs-container {
    background-color: $white;
}
.resp-tab-active {
    background-color: $white;
}
/*-----------Vertical tabs-----------*/
 .resp-vtabs ul.resp-tabs-list {
    border-right: 3px solid $vandals_pink;
}
.resp-vtabs .resp-tabs-container {
    background-color: $white;
}
 h2.resp-tab-active {
    background-color: $black;
    color:$white;
}
/* ================= MEDIA ================== */
@media only screen and (max-width: 768px) {
    h2.resp-accordion {
        color: $white;
        background-color: $vandals_blue;
    }
    h2.resp-tab-active {
        background-color: $vandals_blue;
        color:$white;
    }
    h2.resp-accordion:hover {
        color: $white;
        background-color: $vandals_pink;
    }
}
