/* ================= FONTS ================== */

@font-face {
    font-family:'open_sansregular';
    src: asset-url('opensans-regular-webfont.eot');
    src: asset-url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), 
         asset-url('opensans-regular-webfont.woff') format('woff'), 
         asset-url('opensans-regular-webfont.ttf') format('truetype'), 
         asset-url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'oswaldregular';
    src: asset-url('oswald-regular-webfont.eot');
    src: asset-url('oswald-regular-webfont.eot?#iefix') format('embedded-opentype'), 
         asset-url('oswald-regular-webfont.woff') format('woff'), 
         asset-url('oswald-regular-webfont.ttf') format('truetype'), 
         asset-url('oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}