@media only screen and (max-width:1200px) {
    .back-to-top {
        display: none !important;
    }
}
@media only screen and (max-width:1024px) {
    .fixture-row-left, .fixture-row-right {
        width: 100%;
    }
    .fixture-row-left {
        border-right: none;
        border-bottom-style:dashed;
    } 

    .fixture-row-right div {
        padding-right: 0px;
        float: right;
    }

    .fixture-row-right {
        text-align: left;
    }   
}
@media only screen and (max-width:900px) {
    #mobile-menu {
    background-image: asset-url("downArrow2.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    }
    .toggleMenu {
    background-image: asset-url("downArrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    }
    #mainmenu {
        float:none;
    }
    #mainmenu > li {
        float: none;
    }
    #mainmenu > li > .parent {
        background-image: asset-url("downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    #mainmenu li li .parent {
        background-image: asset-url("downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    #mainmenu li li .parent:hover {
        background-image: asset-url("downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    #mainmenu {
        float:none;
        line-height:40px;
        padding-right:0px;
    }
    #mainmenu ul li:first-child {
        margin-top: 0px;
    }
    #mainmenu ul li:last-child {
        margin-bottom: 0px;
    }
    #mainmenu ul {
        display: block;
        width: 100%;
    }
    #mainmenu > li.hover > ul, #mainmenu li li.hover ul {
        position: static;
    }
    #mainmenu a::before, #mainmenu ul li a::before {
        -webkit-transition:none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
    }
    #mainmenu a:hover::before {
        height:0%;
    }
    #mainmenu ul li a {
        padding: 5px 30px;
        background-color: #616161;
    }
    #mainmenu ul li li a {
        background-color: #616161;
    }
    #mobile-menu {
        display: block;
    }
    .flex-title {
        display:none;
    }
}
@media only screen and (max-width:800px) {
    .leftcontainer {
        width: 100%;
        float: none;
        padding-right:0px;
        margin-bottom: 30px;
    }
    .rightcontainer {
        width: 100%;
        float: none;
        padding-left: 0px;
    }
    .first-clmn, .second-clmn, .third-clmn {
        padding:0px 0px 30px 0px;
        width:100%;
    }
    .scores-title {
        font-size: 26px;
    }
    .match-results span {
        font-size: 18px;
        display: block;
    }
    .match-results .score {
        margin-left: 0px;
        margin-right: 0px;
    }
    .match-place span {
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }
    .match-results {
        margin-bottom: 0px;
        padding-top: 0px;
    }
    h1, .page-title, .scores-title {
        font-size:26px;
    }
    h2 {
        font-size:22px;
    }
    h3 {
        font-size:20px;
    }
    h4 {
        font-size:18px;
    }
    h5 {
        font-size:16px;
    }
    h6 {
        font-size:14px;
    }
    #header .logo span {
        font-size:26px;
    }
}
@media only screen and (max-width:640px) {
    #header .logo span {
        margin:0px;
        float: left;
        display: block;
        width: 100%;
    }
    #header .logo {
        text-align: center;
    }
    #header .logo img {
        float: none;
        margin-bottom: 15px;
    }
    #header .logo span:after {
        display:none;
    }
}

/* Iphone 5 landscape */
@media only screen and (max-width: 568px) {

   .banner-wrapper {
        display:none;
    }

    .scores-title {
        border-top:none;
    }


}
@media only screen and (max-width:480px) {

    html {
        background:none;
    }

    #header .logo {
        display:block;
        margin:10px auto 10px;
    }
    
    .team-gallery li {
        width:50% !important;
    }
    .filters li a {
        line-height: 3;
    }

    #gallery-sidebar-box {
        display:none;
    }

    .bx-wrapper .bx-controls-direction a {
      top: 35%;
    }
}

@media only screen and (max-width:320px) {

.scores-title {
    text-align:center;
}

h3.tournament-header {
    font-size: 17px;
}

}