/* ---------------------- 
Stylesheet Guide
-------------------------

FONTS
GENERAL STYLES
HEADER
MAIN MENU
HOMEPAGE FIXTURE BOXH
SPONSORS
PAGE STRUCTURE
BLOG
COMMENTS
FORMS
TABLES
GALLERY
OUR TEAM
FLEX IMAGE
RESPONSIVE IFRAME
INFO BOXES
FOOTER
FLICKR
SOCIAL ICONS
BACK TO TOP BUTTON

*/

body, p {
    font-family:'open_sansregular';
    font-weight:normal;
}
h1, h2, h3, h4, h5, h6,#mainmenu,#header .logo span,.scores-title,.page-title,.match-results,.logos-title,.toggleMenu,#mobile-menu,.resp-tabs-list li, .filters li a {
    font-family: 'oswaldregular';
    font-weight:normal;
    text-transform:uppercase;
}

/* ================= GENERAL STYLES ================== */
html {
   background: asset-url('vandals_background.jpg') no-repeat center center fixed; 
   @include background-size(cover);
}
html, body{
	margin: 0;
	padding: 0;
}
body{
    background-color:transparent;
    font-size:13px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6 {
    margin-top:0px;
    margin-bottom:15px;
    padding:0px;
    line-height:1;
}
h1 {
    font-size:30px;
}
h2 {
    font-size:26px;
}
h3 {
    font-size:22px;
}
h4 {
    font-size:20px;
}
h5 {
    font-size:18px;
}
h6 {
    font-size:16px;
}
.show
{
    display:block !important;
}
.hide
{
    display:none !important;
}
.clear {
    clear:both;
}
p {
    font-size:13px;
    line-height:1.5;
    margin-bottom:20px;
    margin-top:0px !important;
    font-weight:normal;
    word-spacing: 0.2em;
}
p:last-child
{
    margin-bottom:0px;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}
strong {
    font-weight: bold;
}
i, em {
    font-style: italic;
}
hr {
    margin-top:25px;
    margin-bottom:30px;
    padding: 0;
    border: none;
    height:1px;
}
label
{
    font-weight:normal;
    font-size:13px;
    line-height:1.7;
}
blockquote {
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 0px 21px 0px;
    position: relative;
}
blockquote cite {
    font-style:italic;
    font-size:14px;
    line-height:1.5;
    display:block;
    margin-top:20px;
    text-align:right;
}
.responsive-img {
    width: 100% !important;
    height: auto !important;
}
.list {
    list-style: none;
    margin: 0px 0px 25px 0px;
    padding: 0px;
}
.list li{
    margin-top: 15px;
    margin-bottom: 15px;
}
.list li:last-child{
    margin-bottom: 0px;
}

/* Flash Alerts */

div.alert {
    padding: 20px 20px;
    background-color:#3c763d;
    color:#fff;
}

.alert-success {
    border: 1px solid #72ad55;
    background-color: #ceefbe;
}

#flash_notice {
        text-align:center;
}

/* ================= HEADER  ================== */
#header {
    width: 100%;
    max-width:1024px;
    margin:0px auto 0px auto;
    position:relative;
    height: auto;
    padding: 0px;
}
#header .logo{
    width: 150px;
    height:120px;
    margin: 15px 30px 10px 30px;
    position:relative;
    display: inline-block;
    background-image: asset-url('logo_refac_1.png');
}

#logo {
    display:block;
    width:100%;
    height:100%;
    text-indent:-9999px;
}

/* ================= MAIN MENU  ================== */
#mainmenu-container {
    width: 100%;
    max-width:1024px;
    margin:0px auto 0px auto;
    position:relative;
}
.toggleMenu {
    display: none;
    list-style:none;
    padding:15px 30px;
    margin:0px;
    left:0;
    top:0;
    width:100%;
    z-index:9;
    font-size:16px;
    text-decoration: none !important;
}
#mainmenu {
    font-size:14px;
    list-style: none;
    *zoom: 1;
    padding:0px;
    margin:0px;
    margin: 0 auto;
    line-height:40px;
    z-index:9999;
    pointer-events:none;
}
#mainmenu:before, #mainmenu:after {
    content:" ";
    display: table;
}
#mainmenu:after {
    clear: both;
}
#mainmenu ul {
    list-style: none;
    width: 14em;
    padding:0px;
    margin:0px;
    z-index:99999;
}
#mainmenu a {
    padding: 5px 30px;
    display:inline-block;
    position:relative;
}
#mainmenu a:hover {
    text-decoration: none;
}
#mainmenu a > span{
    position:relative;
}
#mainmenu a::before{
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    height:0%;
    width:100%;
    @include transition(height .2s linear);
}

#mainmenu a:hover::before{
    height:100%;
}
#mainmenu ul li a {
    padding: 5px 20px;
    display:inline-block;
    position:relative;
    @include transition(color .2s linear)
}
#mainmenu ul li a > span{
    position:relative;
}
#mainmenu ul li a::before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:0%;
    @include transition(width .2s linear)
}
#mainmenu ul li a:hover::before{
    width:100%;
}
#mainmenu li {
    position: relative;
}
#mainmenu > li {
    float: left;
}
#mainmenu > li > a {
    display: block;
}
#mainmenu li ul {
    position: absolute;
    left: -9999px;
}
#mainmenu > li.hover > ul {
    left: 0;
}
#mainmenu li li.hover ul {
    left: 100%;
    top: 0;
    padding-top:0px;
}
#mainmenu li li a {
    display: block;
    position: relative;
    z-index:100;
}
#mainmenu li li li a {
    z-index:200;
}

/* Homepage banner image */

.banner-wrapper img {
    width:100%;
    height:auto;
    display: block;
}


/* ================= HOMEPAGE FIXTURE BOX ================== */
.scores-title {
    padding: 10px 30px 10px 30px;
    font-size: 30px;
    position: relative;
}
.scores-title:after, .scores-title:before {
	bottom: 100%;
	left: 60%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.scores-title:after {
	border-width: 15px;
	margin-left: -15px;
}
.scores-title:before {
	border-width: 20px;
	margin-left: -20px;
}
#fixture, #netballFixture {
    width:100%;
    height:auto;
    z-index:9;
    overflow: hidden !important;
    position: relative;
    text-align: center;
}
.match-results {
    margin-bottom: 18px;
    padding-top: 10px;
}
.match-place {
    margin-bottom: 20px;
}
.match-results span{
    padding: 10px 15px 10px 15px;
    margin: 0px;
    font-size: 22px;
    text-transform: uppercase;
}
.match-place span{
    padding: 5px 10px 5px 10px;
    margin: 0px;
    font-size: 13px;
}

.tournament-header, .gallery-header, .year-header {
    margin-bottom:0px;
    position:relative;
}

/* + is equivalent to Jquerys next */

.tournament-header + .fixture-row.section-body, .gallery-header + .gallery-row.section-body, .year-header + .gallery-row.section-body {
  display:none;
}

.tournament-header.section-show + .fixture-row.section-body, .gallery-header.section-show + .gallery-row.section-body, .year-header.section-show + .gallery-row.section-body  {
  display:block;
}


.tournament-header .toggle, .gallery-header .toggle {
  background: asset-url('toggle-open.png');
  width:38px;
  height:38px;
  position:absolute;
  top:2px;
  right:5px;
  cursor:pointer;
}

.year-header .toggle {
  background: asset-url('toggle-open.png');
  width:38px;
  height:38px;
  position:absolute;
  top:9px;
  right:5px;
  cursor:pointer;
  }

.tournament-header.section-show .toggle, .gallery-header.section-show .toggle, .year-header.section-show .toggle {
  background: asset-url('toggle-close.png');
}

.gallery-row.section-body p {
    padding:10px;
    border-bottom: 1px solid $border_grey;
}

/* ================= SPONSORS ================== */
#logos {
    width:100%;
    height:auto;
    z-index:9;
    overflow: hidden !important;
    position: relative;
}
.logos-title {
    padding: 10px 30px 10px 30px;
    font-size: 22px;
    position: relative;
}
#logos img{
    opacity:0.7;
    @include transition(opacity 0.3s ease-in-out)
}
#logos img:hover{
    opacity:1;
}

.sponsor-bg {
    background-color:#121926;
    border-top:3px solid #FF61B4;
    text-align: center;
    padding:20px 5px;
}

.sponsor-bg h2 {
    color:#fff;
    margin:0px;
}

.sponsor-bg a {
    color:#FF61B4;
}

/* ================= PAGE STRUCTURE ================== */
.maincontainer {
    width:100%;
    max-width:1024px;
    position:relative;
    margin:0px auto 0px auto;
    overflow: hidden;
    padding:0px;
    vertical-align: bottom;
}
.pagecontainer {
    width:100%;
    padding:30px;
    position:relative;
    display: inline-block;
    margin: 0px;
    vertical-align: bottom;
}
.pagecontainer.using-grid{
    padding:15px 0px 15px 0px;
}
.pagecontainer:after, .pagecontainer:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pagecontainer:after {
	border-width: 15px;
	margin-left: -15px;
}
.pagecontainer:before {
	border-width: 20px;
	margin-left: -20px;
}
.page-img img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.leftcontainer {
    width: 60%;
    float: left;
    padding-right:15px;
}
.rightcontainer {
    width: 40%;
    float: right;
    padding-left: 15px;
}
.sidebarbox {
    clear: both;
    margin-bottom: 30px;
}
.sidebarbox:last-child {
    margin-bottom: 0px;
}
.transparent-bg {
    width: 100%;
    max-width:1024px;
    margin:0px auto 0px auto;
    position:relative;
    height: auto;
    padding: 30px;
}
.page-title {
    padding: 10px 30px 10px 30px;
    font-size: 30px;
    position: relative;
}
/* ================= BLOG ================== */
.post figure {
	margin: 0;
	position: relative;
    margin-bottom:25px;
    margin-top:15px;
}
.post figure img {
	width: 100%;
	display: block;
	position: relative;
}
.post figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 15px;
    padding-right: 15px;
    padding-top:10px;
    height: 72px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
    @include transform(translateY(100%));
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.post figcaption h2 {
	margin: 0px;
	padding: 0px;
}
.post figure {
	overflow: hidden;
}
.post figure img {
    width:100%;
}

.sidebarlist {
    list-style:none;
    padding:0;
    margin:0;
}
.sidebarlist li {
    padding-bottom:10px;
    margin-bottom:10px;
}
.sidebarlist li:last-child {
    padding-bottom:0px;
    margin-bottom:0px;
    border-bottom:none;
}
.sidebarlist li a:hover {
    text-decoration:none;
}

/* Pagination Nav */


.previous_page, .next_page {
    height:60px;
    width:60px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    background:#121926;
    @include transition(background-color 0.2s ease-in-out);
}

.previous_page:hover, .next_page:hover {
    background-color:#FF61B4;
}

.next_page {
    background-position:center center;
    background-image:asset-url('s-right.png');
    background-repeat:no-repeat;
    left: 60px;
}

.previous_page {
    background-position:center center;
    background-image:asset-url('s-left.png');
    background-repeat:no-repeat;
    left: 0px;
}
.previous_page.disabled, .next_page.disabled {
    opacity: .3;
    filter:alpha(opacity=30);
    cursor: default;
}

/* ================= FORMS ================== */

input[type="text"], input[type="email"], input[type="number"], input[type="date"], input[type="password"], textarea
{
    width: 80%;
    display: block;
    font-size: 14px;
    margin: 0px 0px 11px 0px;
    padding: 5px 10px 5px 10px;
    height: 35px;
     @include transition(all 0.2s ease-in-out);
     @include border-radius(0px !important);
}
input[type="text"].oversize, input[type="email"].oversize, input[type="number"].oversize, input[type="date"].oversize {
	font-size:15px;
	padding:4px 5px
}
input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="date"]:focus, textarea:focus, input[type="password"]:focus {
	outline:none !important;
}
input[type="submit"] {
	margin-top:14px;
}
textarea {
	height:100px;
	width:100%;
	margin-bottom:0px !important;
}
.button {
	width: auto;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 1;
	margin: 15px 0px 0px 0px;
	outline: none;
	padding: 10px 20px 11px;
	position: relative;
	text-align: center;
	text-decoration: none !important;
    @include transition(background-color 0.15s ease-in-out);
	border: none !important;
}

#google-map {
        width: 100%;
        height: 300px;
        display: inline-block;
    }

.hidden {
    display:none;
}
/* ================= TABLES ================== */
.fixture_date {
    font-weight:600;
    text-align: center;
}
.sidebarbox-title {
    position: relative;
}
.sidebarbox-title h3 {
    margin: 0px;
    padding: 15px;
}
.fixture-row {
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
}
.fixture-row a div{
    @include transition(all 0.1s ease-in-out);
}

.tournament-header, .gallery-header {
    padding: 10px;
}

.fixture-row-left,.fixture-row-right {
    padding: 10px;
    width: 50%;
    height: 40px;
}
.fixture-row-left div {
    padding-left: 15px;
    float: right;
    background-color:transparent !important;
}
.fixture-row-right div {
    padding-right: 15px;
    float: left;
    background-color:transparent !important;
}
.fixture-row-left {
    float: left;
}
.fixture-row-right {
    float: right;
    text-align: right;
}
/* ================= GALLERY ================== */
 .filters {
    list-style:none;
    padding:15px;
    margin:0;
    display:inline-block;
    position:relative;
    width:100%;
    vertical-align:bottom;
}
.filters li {
    float:left;
    margin-right:13px;
}
.filters li a {
    padding:5px 10px 5px 10px;
    line-height: 2;
    font-size:16px;
     @include transition(background-color 0.2s ease-in-out);
}
.filters li a:hover {
    text-decoration:none;
}
.team-gallery {
    list-style:none;
    position:relative;
    margin:0px;
    padding:0px;
    display:inline-block;
    vertical-align:bottom;
}
.team-gallery li {
    float:left;
    position:relative;
    width:33.3333333333%;
    @include transition(all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000));
    @include transition-timing-function(cubic-bezier(0.645, 0.045, 0.355, 1.000));
}
.team-gallery.quarter li {
    width:25%;
}
.team-gallery li a, .team-gallery li a img {
    display:block;
    position:relative;
    width:100% !important;
    height:auto !important;
    border-radius:0px !important;
    overflow:hidden;
    outline:0 !important;
}
.team-gallery li a img {
    @include transition(all 0.4s ease-in-out);
}
.team-gallery li a {
    -webkit-perspective: 1000;
    opacity:1;
    overflow: hidden;
}
.team-gallery li a img:hover {
    opacity:0.2;
    @include transform(scale(1.5) rotate(15deg));
} 
.team-gallery li a.clb-photo,.team-gallery li a.clb-iframe,.team-gallery li a.clb-link {
    overflow:hidden;
    background-position:center center;
    background-repeat:no-repeat;
}
.team-gallery li a.clb-photo {
    background-image:asset-url('zoom.png');
}

.button-widget {
    margin: 0px !important;
    width: 100%;
}
.no-effect{
    pointer-events:none !important;
    @include transform(rotate(360deg));
    opacity:0.3;
}

/* ================= FLEX IMAGE ================== */
.caption-image {
    position:relative;
    margin-bottom:25px;
}
.caption-image img {
    width:100%;
    height:auto;
}
.caption-image figcaption {
    position: absolute;
    bottom: 0;
    left:0;
    padding:10px;
    width:100%;
    text-align:center;
}
/* ================= RESPONSIVE IFRAME ================== */
 .flex-video {
    position:relative;
    padding-bottom:67.5%;
    height:0;
    overflow:hidden;
    margin-bottom:25px;
}
.flex-video.widescreen {
    padding-bottom:37.25%;
    margin-bottom:0px;
}
.flex-video.vimeo {
    padding-top:0
}
.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    outline:none;
    border:none;
}

/* ================= FOOTER ================== */
#footer {
    height:100%;
    margin:0px auto 0px auto;
    width:100%;
    padding-bottom:7px;
    position:relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}
#footer-widgets {
    position:relative;
    max-width:1024px;
    width:100%;
    height:auto;
    clear:both;
    display:inline-block;
    padding:30px;
    padding-bottom:0px;
}
#footer-widgets h5{
    margin-bottom:20px;
}
.footer-widget {
    height:auto;
    float:left;
    padding-bottom:30px;
}
.footer-widget ul {
    list-style:none;
    padding:0;
    margin:0;
}
.footer-widget ul li {
    padding-bottom:10px;
    margin-bottom:10px;
}
.footer-widget ul li:last-child {
    padding-bottom:0px;
    margin-bottom:0px;
    border-bottom:none;
}
.footer-widget ul li a:hover {
    text-decoration:none;
}
.first-clmn {
    padding-right:20px;
    width:30%;
}
.second-clmn {
    padding-right:10px;
    padding-left:10px;
    width:30%;
}
.third-clmn {
    padding-left:20px;
    width:40%;
}
.credits {
    float:left;
    font-size:11px;
    padding-top:16px;
    padding-left:30px;
}

/* ================= SOCIAL ICONS ================== */
 .social-icons {
    list-style-type:none;
    display:block;
    margin:10px 30px 0px 0px;
    padding:0px;
    float:right;
}
.social-icons li {
    float:left;
    display:block;
    margin:0px;
    padding:0;
}
.social-icons li img {
    width:32px;
    height:auto;
}
.social-icon {
    @include transition(all 0.2s ease-in-out);
    padding:5px;
}
