/* Colours */

$black: #333;
$white: #fff;
$text_grey: #616161;
$border_grey: #e1e1e1;
$vandals_blue: #121926;
$vandals_pink: #FF61B4;





/* Mixins */

@mixin background-size($value) {
	-webkit-background-size: $value;
       -moz-background-size: $value;
         -o-background-size: $value;
        -ms-background-size: $value;
            background-size: $value;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($value) {
	-webkit-box-shadow: $value;
	   -moz-box-shadow: $value;
	    -ms-box-shadow: $value;
	     -o-box-shadow: $value;
	        box-shadow: $value;
}

@mixin transition($value) {
	-webkit-transition: $value;
	   -moz-transition: $value;
	    -ms-transition: $value;
	     -o-transition: $value;
	        transition: $value;
}

@mixin transform($value) {
	-webkit-transform: $value;
	   -moz-transform: $value;
	    -ms-transform: $value;
	     -o-transform: $value;
	        transform: $value;
}

@mixin transition-timing-function($value) {
	-webkit-transition-timing-function: $value;
	   -moz-transition-timing-function: $value;
	    -ms-transition-timing-function: $value;
	     -o-transition-timing-function: $value;
	        transition-timing-function: $value;
}