<section class="maincontainer">
  <div class="page-title">Galleries</div>
    <section class="pagecontainer">
      <div id="verticalTab">
        <ul class="resp-tabs-list">
          <% @tournament_year.each do |y, t| %>
            <li class="year-header"><%= y %>
              <span class="toggle"></span>
            </li>
            <div class="gallery-row section-body">
              <% t.each do |tournament| %>
                <% if tournament.gallery_images.any? %>
                  <li class="tourn-name"><%= tournament.name %></li>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </ul>
        <div class="gallery_images_ajax">
          <%= render 'shared/gallery_images' %> 
        </div>
      </div>
    </section>
    <div class="clear"></div>