<!-- MAIN CONTAINER -->
<section class="maincontainer">
  <section class="banner-wrapper">
    <%= image_tag('vandals_banner_1_opt.jpg') %>
  </section>
  <div class="clear"></div>
  <!-- FIXTURE TITLE -->
  <div class="scores-title">Upcoming Matches & Latest Results</div>
    <!-- FIXTURE SLIDER -->
    <section class="transparent-bg">
      <div id="fixture">
        <% @scrolling_touch_fixtures.each do |f| %>
          <div class="slide-content">
            <div class="match-results">
              <span><%= f.home_team %></span>
                <% if f.home_score_result && f.away_score_result %>
                  <span class="score"><%= f.home_score_result %> - <%= f.away_score_result %></span>
                <% else %>
                  <span class="score">? - ?</span>
                <% end %>
                  <span><%= f.away_team %></span>
            </div>
              <div class="match-place">
                <span><%= date_output(f.fixture_date) %> - <%= time_output(f.kickoff_time) %> - <%= f.tournament.name %></span>
              </div>
          </div>
        <% end %>
      </div>
      <div class="clear"></div>
    </section>
    <!-- PAGE CONTAINER -->
    <section class="pagecontainer">
      <!-- LEFT CONTAINER -->
      <section class="leftcontainer">
        <h1>Facebook Feed</h1>
        <hr/>
        <div class="facebook_ajax">
          <%= render 'shared/posts' %>
        </div> 
      </section>
      <section class="rightcontainer">
        <div class="sidebarbox">
          <h3>About Varsity Vandals</h3>
            <p>This is the home of Varsity Vandals Touch, Founded 1991, Established 1994. The biggest club in Wales, based in Cardiff. We play Touch with freedom, fun and fortitude. <%= link_to 'Read More', our_club_path %>
            </p>
        </div>
        <div class="sidebarbox">
          <div class="sidebarbox-title">
            <h3>Touch Fixtures and Results</h3>
          </div>
          <!-- TABLE -->
          <!-- array of tournaments with their fixtures -->
          <% @sidebar_touch_fixtures.sort.each do |tournament, fixture| %>
            <h3 class="tournament-header">
              <%= tournament.name %>
              <span class="toggle"></span>
            </h3>
            <!--Initially hidden content-->
            <div class="fixture-row section-body">
              <!-- group fixtures by fixture_date, now have a hash of arrays -->
              <% date = fixture.group_by {|d| d.fixture_date} %>
                <% date.each_pair do |key, value| %>
                  <% if key %>
                    <div class="fixture_date"><%= date_output(key) %></div>
                  <% end %>
                    <% date[key].each do |f| %>
                      <div class="fixture-row-left">
                        <%= f.home_team %>
                          <% if f.home_score_result %>
                            <div><%= f.home_score_result %></div>
                          <% else %>
                            <div>?</div>
                          <% end %>
                      </div>
                                
                      <div class="fixture-row-right">
                        <% if f.away_score_result %>
                          <div><%= f.away_score_result %></div>
                        <% else %>
                          <div>?</div>
                        <% end %>
                        <%= f.away_team %>
                      </div>
                    <% end %> 
                <% end %> 
            </div><!--/fixture-row-->
            <div class="clear"></div>
          <% end %>
        </div><!--/sidebarbox-->

        <div id="gallery-sidebar-box">
          <div class="sidebarbox">
            <div class="sidebarbox-title">
              <h3>Galleries</h3>
            </div>
            <% @touch_tournaments.each do |t| %>
              <% if t.gallery_images.any? %>
                <h3 class="gallery-header">
                  <%= t.name %>
                  <span class="toggle"></span>
                </h3>
                <div class="gallery-row section-body">
                  <ul class="team-gallery">
                    <% t.gallery_images.paginate(:page => params[:page], :per_page => 6).each do |g| %>
                      <li>
                        <%= link_to image_tag(g.photo.url(:gallery_small)), g.photo.url(:original), class: 'clb-photo' %>   
                      </li>
                    <% end %>
                  </ul>
                  <a href="galleries.html" class="button button-widget">View All</a>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    </section>
    <div class="clear"></div>
