<section class="maincontainer">
  <div class="page-title">Upcoming Netball Matches & Latest Results</div>
    <!-- FIXTURE SLIDER -->
    <section class="transparent-bg">
      <div id="netballFixture">
        <% @scrolling_netball_fixtures.each do |f| %>
          <div class="slide-content">
            <div class="match-results">
              <span><%= f.home_team %></span>
                <% if f.home_score_result && f.away_score_result %>
                  <span class="score"><%= f.home_score_result %> - <%= f.away_score_result %></span>
                <% else %>
                  <span class="score">? - ?</span>
                <% end %>
                  <span><%= f.away_team %></span>
            </div>
              <div class="match-place">
                <span><%= date_output(f.fixture_date) %> - <%= time_output(f.kickoff_time) %> - <%= f.tournament.name %></span>
              </div>
          </div>
        <% end %>
      </div>
      <div class="clear"></div>
    </section>
    <section class="pagecontainer">
      <section class="leftcontainer">
        <p>The Varsity Vandals Netball Team was set up in August 2015, after successfully gaining a place in the Cardiff and District League in Division 7. Our team currently has 10 players and we have girls who have played in the league for various teams over a number of years, to some girls who have not played since school. We are a fun, friendly, encouraging team and welcome any Vandals girls to come and train with us</p>

        <p>Our games are on Wednesday evenings at the House Of Sport, Clos Parc Morgannwg, Cardiff, CF11 8AW. We also train every other Tuesday at the same venue from 8-9pm, guided by our Coach Rhiannon Wade.</p>

        <p>If you are interested in joining our training sessions please <%= link_to('contact', contact_path) %> Becky Wickett: </p>
      </section>
      <section class="rightcontainer">
        <div id="gallery-sidebar-box">
          <div class="sidebarbox">
          <div class="sidebarbox-title">
            <h3>Netball Fixtures and Results</h3>
          </div>
          <!-- TABLE -->
          <!-- array of tournaments with their fixtures -->
          <% @sidebar_netball_fixtures.sort.each do |tournament, fixture| %>
            <h3 class="tournament-header">
              <%= tournament.name %>
              <span class="toggle"></span>
            </h3>
            <!--Initially hidden content-->
            <div class="fixture-row section-body">
              <!-- group fixtures by fixture_date, now have a hash of arrays -->
              <% date = fixture.group_by {|d| d.fixture_date} %>
                <% date.each_pair do |key, value| %>
                  <% if key %>
                    <div class="fixture_date"><%= date_output(key) %></div>
                  <% end %>
                    <% date[key].each do |f| %>
                      <div class="fixture-row-left">
                        <%= f.home_team %>
                          <% if f.home_score_result %>
                            <div><%= f.home_score_result %></div>
                          <% else %>
                            <div>?</div>
                          <% end %>
                      </div>
                                
                      <div class="fixture-row-right">
                        <% if f.away_score_result %>
                          <div><%= f.away_score_result %></div>
                        <% else %>
                          <div>?</div>
                        <% end %>
                        <%= f.away_team %>
                      </div>
                    <% end %> 
                <% end %> 
            </div><!--/fixture-row-->
            <div class="clear"></div>
          <% end %>
          <!-- Gallery -->
            <div class="sidebarbox-title">
              <h3>Galleries</h3>
            </div>
            <% @netball_tournaments.each do |t| %>
              <% if t.gallery_images.any? %>
                <h3 class="gallery-header">
                  <%= t.name %>
                  <span class="toggle"></span>
                </h3>
                <div class="gallery-row section-body">
                  <ul class="team-gallery">
                    <% t.gallery_images.paginate(:page => params[:page], :per_page => 6).each do |g| %>
                      <li>
                        <%= link_to image_tag(g.photo.url(:gallery_small)), g.photo.url(:original), class: 'clb-photo' %>   
                      </li>
                    <% end %>
                  </ul>
                  <a href="galleries.html" class="button button-widget">View All</a>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>

    </section>
</section>
<div class="clear"></div>