<!-- MAIN CONTAINER -->
        <section class="maincontainer">
            <!-- PAGE TITLE -->
            <div class="page-title">Our Club</div>
            <!-- PAGE CONTAINER -->
            <section class="pagecontainer">
                <h2>Who are the varsity Vandals</h2>
                <p>We are a Touch Rugby team based in Cardiff, South Wales. We have over 40 players spread across 7 teams (Mens, Womens and Mixed). We believe Touch Rugby is for everyone, no matter what level you think you may be at. We regularly encourage new players to come to our training sessions on a Sunday Morning <%= link_to 'Click Here', contact_path %> to get in touch and find out more.</p>

                <blockquote>Getting involved with Touch Rugby is a great way of keeping fit and meeting new people, the best part is The Vandals make it fun and you learn a lot from the other players, the team spirit is excellent. </blockquote>

                <p>We enter as many competitions as possible here in Wales and have started to enter national competitions too. These Include WTS (Welsh Touch Series), CTS (Challenge Touch Series), TRW (Touch Rugby Wales) and Local competitions.</p>
                <hr/>

                <h3>Honours</h3>
                <ul class="list">
                    <li>
                        August 2013 - <strong>WTS #4 Women Champions</strong> - Annual Welsh Touch Series Event.
                    </li>
                    <li>
                        July 2013 - <strong>Plate Winners (Mixed)</strong> - Annual Competition based in Llantwit Fadre, Pontypridd.
                    </li>
                    <li>
                        July 2013 - <strong>TRW Monday Women's Division Winners</strong> - Touch Rugby Wales Annual Monday Night League.
                    </li>
                </ul>
            </section>
            <div class="clear"></div>