<section class="maincontainer">
  <div class="page-title">Running Club</div>
    <section class="pagecontainer">
      <p>When not playing or training for Touch, some of our more crazy members take it upon themselves to punish their bodies even more by running in a variety of races whilst wearing their playing kit.  The Varsity Vandals Running Club is a way to take part in local running events with friends and to encourage each other with training for a race or taking part in the local Park Run which is for runners of any level, seriously… ANY LEVEL.</p>

      <p>Members also take part in races including the Mens Health Fitness and the Cardiff Half Marathon.  One particular freak competes in various Ultra-Marathons around the country, (not many are so keen to go to this level!).  If enough members enter a race we try to organise a discount, but this varies from race to race.</p>

      <p>If you would like to take part simply sign up on <a href="http://www.parkrun.org.uk/cardiff/" target="_blabk">Cardiff Park Run</a>, on the registration page whilst entering your details look for Varsity Vandals Running Club, let one of the team know to keep an eye out for you on the day, run and then catch your breathe and recover with us once the race is over.  All weekly results are recorded using the ParkRun system so you can compare yourself to other teammates but more importantly check if you have beaten your Personal Best.</p>

      <p>We do this because although we enjoy running we prefer to do it as a team with people we like.</p>
    </section>
</section>
<div class="clear"></div>