<!DOCTYPE html>
<html>
<head>
  <title>Varsity Vandals Touch Rugby - Cardiff</title>
  <meta name="description" content="Website for Varsity Vandals Touch Rugby Team Cardiff South Wales">
  <meta name="viewport" content="user-scalable=0,width=device-width,height=device-height,initial-scale=1,maximum-scale=1" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <%= render 'shared/alerts' %>
  <%= render 'shared/navbar' %>
    <%= yield %>
  <section class="maincontainer">
  <%= render 'shared/sponsors' %>
  <%= render 'shared/footer' %>
  </section>
</body>
</html>
